<% layout('layouts/boilerplate') %>
<h1>All Campgrounds</h1>

<% for(let campground of campgrounds) { %>
<div class="card mb-3">
    <div class="row">
        <div class="col-md-4">
            <% if(campground.images.length) { %>
            <img class="img-fluid" src="<%= campground.images[0].url %>" alt="" srcset="" />
            <% } else { %>
            <img class="img-fluid"
                 src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.inkling.com%2Ftemplate%2Fsd-default-image%2F&psig=AOvVaw2JtalUK4cZk8uYy2UggwKm&ust=1668482271294000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCLj17_varPsCFQAAAAAdAAAAABAD"
                 alt="" srcset="" />
            <% } %>
        </div>
        <div class="col-md-8 mt-3">
            <h5 class="card-title">
                <%= campground.title %>
            </h5>
            <p class="card-text">
                <%= campground.description %>
            </p>
            <p class="card-text">
                <small class="text-muted">
                    <%= campground.location %>
                </small>
            </p>
            <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">View <%= campground.title %></a>
        </div>
    </div>
</div>
<% } %>